body{
  font-family: serif; 
  color: #ffffff;
}
#catgangster {
  width: 50%;
}
body{
  background-color: #dc143c;
}
#watercat{
  width: 50%;
  height: 50%;
}
a {
  color: #ffffff;
  font-size: 500%; 
  font-family: serif;
}
li {
  background: #A446A1;
  background: -moz-linear-gradient(45deg, #A446A1 0%, #CB0772 53%, #750000 100%);
  background: -webkit-linear-gradient(45deg, #A446A1 0%, #CB0772 53%, #750000 100%);
  background: linear-gradient(45deg, #A446A1 0%, #CB0772 53%, #750000 100%);;
}
h2 {
  background: #A446A1;
  background: -moz-linear-gradient(45deg, #A446A1 0%, #CB0772 53%, #750000 100%);
  background: -webkit-linear-gradient(45deg, #A446A1 0%, #CB0772 53%, #750000 100%);
  background: linear-gradient(45deg, #A446A1 0%, #CB0772 53%, #750000 100%);;
}
#cattop {
  width: 50%;
}
#banner {
  height: 500%;
  background-color: #000000;
  border: 11px outset #1C6EA4;
}
